<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="/images/hero-food.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4"><strong>Cloud</strong> Kitchens.</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">What's Cooking?</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="features text-center py-5">
        <div class="row my-5 py-5">
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-magic"></i>
            </div>
            <h4>Fake It</h4>
            <p class="text-muted">
              <button type="button" class="btn btn-sm btn-outline-info" @click="startStreamingTestData()">Start streaming test data</button>
            </p>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-table"></i>
            </div>
            <h4>View</h4>
            <p class="text-muted">Scroll down to see the data view.</p>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-pencil"></i>
            </div>
            <h4>Edits</h4>
            <p class="text-muted">To make edits, <a href="/login">login</a> as <code>admin@example.com</code> and password <code>abc123</code>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="data-container" class="container"></div>
  <div class="container">
    <hr/>
    <div class="pep-talk text-center">
      <h3>Let's get cooking.</h3>
      <p><span class="text-muted">&hearts;</span> The Cloud Kitchens Team</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
